.right-button{
    background-color: #f8b400;
    font-size: 15px;
    color: #004445;
    border-color: #004445;
    border-radius: 5px;
    padding: 10px;
    margin-top: 2px;
    margin-right: 2px;
    font-weight: bold;
}

.right-button:hover{
    background-color: #f8e800;
}