.form-admin{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.form-admin > form > input{
    border-radius: 2px;
    min-height: 30px;
    min-width: 80px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
}

.form-admin h3{
    align-self: flex-start;
    margin-top: 30px;
}

.form-admin form{
    margin-bottom: 30px;
}

.return-button{
    align-self: flex-start;
    min-width: 70px;
    font-size: 18px;
}

.form-admin > form button{
    background-color: #004445;
    color: #faf5e4;
    border-color: #004445;
    border-radius: 5px;
    padding: 2px;
    margin-left: 5px;
    font-size: 18px;
}

.form-admin > form > button:hover{
    background-color: #045c54;
}

.button-submit-buscar {
    min-width: 80px;
}