.form-aula{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    font-size: 20px;
}

.form-aula label{
    margin-top: 15px;
}

.return-button{
    font-size: 15px;
    margin-bottom: 12px;
}