.dashboard-header{
    display: flex;
    flex-direction: column;
    padding:10px;
    padding-bottom: 0px;
}

.dashboard-header p{
    font-size: 20px;
    margin: 5px;
}

.dashboard-header button{
    min-width: 80px;
    align-self: flex-end;
    font-size: 15px;
}