.form-aluno{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    font-size: 20px;
}

.return-button{
    font-size: 15px;
    margin-bottom: 12px;
}

.form-aluno label{
    margin-top: 8px;
    font-size: 20px;
}

/*.form-aluno input{
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    min-width: 70px;
    min-height: 30px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}*/

.form-aluno button{
    margin-top: 16px;
}

/*.form-aluno .submit-button{
    align-self: center;
    min-width: 300px;
}*/

.radio-buttons-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;
}

.radio-buttons-box > input{
    min-width: 0px;
    margin-bottom: 0px;
    margin-left: 18px;
    margin-right: 3px;
}